h1 {
    text-align: center;
    margin-top: 70px;
    color: white;
}

p {
    text-align: center;
    margin: 20px;
    background-color: black;
    padding: 30px;
    line-height: 1.5;
    color: white;
}



img {
    display: block;
    margin: auto;
}

.card {
    margin: 10px;
    padding: 30px;
}

.invention {
    font-family: 'Rubik', sans-serif;
    margin: 50px;
}

body {
    background-color: #8b0000;
}

